<?xml version="1.0"?>
<launch>
<!--  For real camera-->
  <node name="downsample" pkg="camera_heightmap" type="downsample" respawn="true" output="screen" />
  <node name="xlimit" pkg="camera_heightmap" type="xlimit" respawn="true" output="screen" />
  <node name="ylimit" pkg="camera_heightmap" type="ylimit" respawn="true" output="screen" />
  <node name="zlimit" pkg="camera_heightmap" type="zlimit" respawn="true" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_heightmap)/launch/mypcl.rviz"/>
	
</launch>
