<?xml version="1.0"?>
<launch>

  <node name="pcdprocess" pkg="camera_heightmap" type="pcdprocess" respawn="true" output="screen" />
   <node name="downsample" pkg="camera_heightmap" type="downsample" respawn="true" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find camera_heightmap)/launch/mypcl.rviz"/>
	
</launch>
