<?xml version="1.0"?>
<launch>
    <node name="heightmap_scaler" pkg="camera_heightmap" type="scale_heightmap"
    respawn="false" output="screen">
        <param name="scale" value="1"/>
        <param name="in_filename" value="heightmap22"/>
        <param name="out_filename" value="heightmap22_scaled"/>
        <param name="dir" value="$(find camera_heightmap)/data/"/>
    </node>
</launch>
